body{
    background-color: #6c757d;
}

.menu-hover:hover{
    color: rgb(173, 65, 65) !important;
}

.c-red{
    background-color: rgb(173, 65, 65) !important;
}
.c-red:hover{
    background-color: rgb(121, 17, 17) !important;
}

.disabled{
    pointer-events: none;
    color: black;
    opacity: .5;
}