{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% if user.firstname and user.lastname %}
    <h1 class="text-center text-white mt-5">Bienvenue {{ user.firstname }} {{ user.lastname }}</h1>
{% else %}
    <h1 class="text-center text-white mt-5">Bienvenue {{user.username}}</h1>
    <p class="text-center text-white">(Veuillez compléter votre <a href="{{ path('app_modify_user') }}" class="text-white"> profil</a> ) </p>
{% endif %}

{% endblock %}
