{% extends 'base.html.twig' %}

{% block title %}Vos travaux{% endblock %}

{% block body %}
    <div class="d-flex justify-content-around mt-5">
    {% for work in works %}
        <div class="col-3 border border-1 bg-dark">
            <p class="text-white text-center mt-3 fw-bold fs-3">{{ work.title }} - {{ work.category.name }}</p>
            <div class="col-12 d-flex justify-content-center">
                <a href="{{ path('app_work', {'id': work.id}) }}" class="btn btn-lg btn-dark mb-3 c-red">Acceder à la ressource</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
