{% block body %}

<header>
    <nav>
        <div>
            <a href='{{ path('app_home') }}'>Home</a>
            <a href='{{ path('app_upload') }}'>Déposer un travail</a>
        </div>
    </nav>
</header>

{% endblock %}
